* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1500px;
    width: 100vw;
}

header {
    background-color: #222;
    height: 288px;
    width: 100%;
    color: #fff;
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 100px;
    text-align: center;
}

header p1 {
    display: inline-block;
}

.container {
    width: 1000px;
    margin: auto;
}

.col1 {
    height: 400px;
    border: 15px solid rgb(49, 243, 0);
    background-color: rgb(255, 0, 0);
}

.col2 {
    height: 400px;
    background-color: rgb(47, 0, 255);
}

.col3 {
    height: 400px;
    background-color: rgb(255, 238, 0);
}
